bearbuilders-backend/.env
bearbuilders-backend/node_modules
bearbuilders-frontend/.env
bearbuilders-frontend/.next
bearbuilders-frontend/node_modules
bearbuilders-contracts/.env
bearbuilders-contracts/lib
bearbuilders-contracts/out
bearbuilders-contracts/cache