.profile {
   min-height: 90vh;
   display: flex;
   justify-content: center;
   align-content: center;
   margin: 0 2rem;

   &__reservations,
   &__history {
      width: 50%;

      &-title {
         text-align: center;
         margin: 1rem 0;
      }

      &-items {
         display:flex;
         justify-content: center;
      }
   }
}